body
{
    background-color: #2b3240;
    user-select: none;
}

#header
{
    background-color: #3c4552;
    /*padding: 2vw;*/
    padding-left: 1vw;
    margin-bottom: 10px;

    white-space: nowrap;

    max-height: 100px;
}

#header *
{
    display: inline-block;
    position: relative
}

#header p
{
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 1vw;    
    position: absolute;
    margin-bottom: 10px;    
}

#header span
{
    font-family: "Brush Script MT";
}

#back-icon
{
    position: relative;
    width: 40px;
    margin-left: 2vw;
    margin-right: 2vw;

    
    margin-top: 10px;

    margin-bottom: 5px;

    
}

#swap-icon
{
    width: 60px;

    /* fix this
    margin-left: 40%;
    */

    margin-top: 10px;
    margin-bottom: 10px;
}

.ioBox
{
    margin: 0;
    padding: 0;
    font-size: 50px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 55px;
    padding-left: 5px;
}

.input
{
    border: none;
    padding-bottom: 5px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.output
{
    color: white;
    background-color: #3c4552;
    margin-right: 2px;
    font-size: 50px;
    padding-top: 0;
}
.output p
{
    padding: 0;
    margin: 0;
}

.unit-selector-box
{
    padding: 0;
    margin: 0;
    display: flex;
}

.centered
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label
{
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.to-label
{
    margin-top: -20px;
}

@media screen and (max-width: 500px)
{
    .ioBox
    {
        font-size: 40px;
    }

    #header p
    {
        font-size: 8vw;
    }

    #back-icon
    {
        width: 6vw;
        
        margin-top: 1.5vw;
        
        margin-bottom: 0.5vw;
    }
}

@media screen and (max-width: 400px)
{
    .unit-selector-box
    {
        padding: 0;
        margin: 0;
        display: inline;
    }

    .ioBox
    {
        font-size: 30px;
        height: 45px;
        line-height: normal;
    }

    #swap-icon
    {
        width: 40px;
    }


    .input *
    {   
        padding-bottom: 5px;
    }

    .output
    {
        padding-top: 3px;
        padding-bottom: 2px;

        margin-bottom: 2px;
    }
}

