.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/


body
{
  background-color: black;
}

/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/

.upper
{
  text-align: center;
  height: 10%;  

  color: white;
  font-family: "Brush Script MT";
  font-size: 10vw;
}

.upper p
{
  width: 100%;

  margin: 0;
  padding: 0;

  padding-top: 10px;
  padding-bottom: 10px;
}

/*===============================================================*/
/*===============================================================*/
/*===============================================================*/


