/*
.App {
    text-align: center;
}

.App-logo {
height: 40vmin;
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #09d3ac;
}

*/


/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/
/*===============================================================*/


body
{
    background-color: #2b3240;
    user-select: none;
}



#header
{
    background-color: none;
    padding: 10px;
}

#header *
{
    display: inline;
}

#header p 
{
    font-size: 30px;
    color: white;
}


#back-icon
{
    width: 50px;
    margin-right: 10px;
}

#swap-icon
{
    width: 50px;

    margin-left: 40%;
    margin-right: auto;
}

input
{
    margin: 0;
    padding: 0;

    font-size: 30px;

    width: 100%;
}

.unit-selector-box
{
    background-color: red;

    padding: 0;
    margin: 0;

    display: flex;
        

}


@media screen and (max-width: 500px){

    #header
    {
        background-color: grey;
    }

}

