body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* --------  vrf funkar inte detta längre? alla children blir odd, tror alla blir "1" --------*/

.left:nth-child(even)
{
    background-color: darkgrey;
}
.left:nth-child(odd)
{
    background-color: darkbrown;
}

