.quantity-list_element
{
  height: 100px;
  width: 100vw;

  float: left;

  border: 0.5px;
  border-style: solid;
  border-color: black;

  background-color: #3c4552;

}

.quantity-list_element *
{
  display: inline;
  float: left;
}

.quantity-list_element img
{
  background-color: none;

  position: relative;
  /*
  transform: translateY(50%);
  */
}

.quantity-list_element p
{
  color: white;
  font-size: 40px;
  font-family: arial;

  background-color: none;


  position: relative;
  transform: translateY(-20%);
}



@media screen and (max-width: 400px)
{
  
}
