.quantity-list-element
{
  height: 100px;
  width: 100vw;

  float: left;

  border: 0.5px;
  border-style: solid;
  border-color: black;

  background-color: #3c4552;
}

.quantity-list-element *
{
  display: inline;
  float: left;
}

.quantity-list-element img
{
  margin-left: 5px;
  position: relative;
}

.quantity-list-element p
{
  color: white;
  font-size: 40px;
  margin-left: 10px;


  position: relative;

  margin-top: 20px;
}



@media screen and (max-width: 400px)
{
  .quantity-list-element 
  {
    height: 20vw;
  }

  .quantity-list-element p
  {
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: 10vw;
  }

  .quantity-list-element img
  {
    margin-left: 2vw;
    width: 20vw;
  }

}
