.unit-container
{
  /*
  height: 100px;

  width: 100%;
  */
  
  background-color: orange;
  color: white;

  display: inline;

}

.unit-button
{
  background-color: grey;

  padding-left: 10px; 

  width: 100%;

  display: block;

  /*
  height: 100%;
  */

  position: relative;

  right: 0;

  width: 150px;

  padding: 5px;

  padding-top: 20px;
  padding-bottom: 20px;

}



.unit-button * 
{
  display: inline-block;

  margin: 0;
}

.down-icon
{
  margin-left: 10px;
  width: 10px;
}

.dropdown
{
  background-color: pink;

  display: block;

  position: fixed;
  /*or
  position: absolute*/
  left: 0;
  
  width: 100%;

  z-index: 2;


  padding: 2px;  
  background-color: #8f8f8f;
}


.dropdown-link
{
  color: black;
  
  padding: 10px;

  /*
  border: 1px;
  border-style: solid;
  border-color: white;
  */
}

.dropdown-link p
{
  margin: 0;
  padding: 0;
}

.dropdown-link:nth-child(odd)
{
  background-color: #a8b6ba;
}

.dropdown-link:nth-child(even)
{
  background-color: #b0c7cf;
}





@media screen and (max-width: 400px){

  .unit-button
  {
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 5px;
  }

}


